[Unit]
Description=Apply local config with ansible-pull
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/ansible-pull-run.sh
User={{ ansible_user }}
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7