[Unit]
Description=Apply local config with ansible-pull
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/ansible-pull-run.sh
User=root
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7
LoadCredentialEncrypted=ansible_vault_pass:/etc/secure-credentials/vault-pass.cred