[Unit]
Description=Timer for GitOps Service

[Timer]
# Calendar-based schedule (like cron)
OnCalendar=*-*-* *:00,15,30,45:00
DeferReactivation=true
RandomizedDelaySec=15

AccuracySec=5min

[Install]
WantedBy=timers.target