[Unit]
Description=Timer for GitOps Service
After=network-online.target

[Timer]
# Calendar-based schedule (like cron)
OnCalendar=*/15
DeferReactivation=true
RandomizedDelaySec=15

AccuracySec=5min

[Install]
WantedBy=timers.target