[Unit]
Description=Podman container for {{ container.name }}
After=network-online.target

[Container]
Image={{ container.image }}
# Dynamically isolates the container into a unique, unprivileged namespace
UserNS=auto
{% if container.stop_timeout is defined %}
StopTimeout={{ container.stop_timeout }}
{% endif %}
{% if container.memory is defined %}
#Memory={{ container.memory }}
{% endif %}
{% for vol in container.volumes | default([]) %}
Volume={{ vol }}:Z
{% endfor %}
{% for port in container.ports | default([]) %}
PublishPort={{ port }}
{% endfor %}

[Service]
Restart=on-failure
{% if container.stop_timeout is defined %}
TimeoutStopSec={{ container.stop_timeout | int + 10 }}
{% endif %}
ExecStartPost=/usr/sbin/ufw route allow podman-{{ container.name }}
ExecStopPost=-/usr/sbin/ufw delete allow podman-{{ container.name }}

[Install]
WantedBy=multi-user.target