%gamemasters ALL=(root) NOPASSWD: journalctl -u {{ container.name }}.service, /usr/bin/systemctl start {{ container.name }}.service, /usr/bin/systemctl stop {{ container.name }}.service, /usr/bin/systemctl restart {{ container.name }}.service