[Unit]
Description=Podman container for {{ container.name }}
After=network-online.target

[Container]
Image={{ container.image }}
{% if container.stop_timeout is defined %}
StopTimeout={{ container.stop_timeout }}
{% endif %}
{% if container.memory is defined %}
Memory={{ container.memory }}
{% endif %}
{% for vol in container.volumes | default([]) %}
Volume={{ vol }}
{% endfor %}
{% for port in container.ports | default([]) %}
PublishPort={{ port }}
{% endfor %}

[Service]
Restart=on-failure
{% if container.stop_timeout is defined %}
TimeoutStopSec={{ ontainer.stop_timeout | int + 10 }}
{% endif %}
ExecStartPost=/usr/bin/sudo /usr/sbin/ufw allow podman-{{ container.name }}
ExecStopPost=-/usr/bin/sudo /usr/sbin/ufw delete allow podman-{{ container.name }}

[Install]
WantedBy=default.target